* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #3a474e;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.625;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    background: #eee;
}

/*========Start Header=========*/
.main-header {
    z-index: 701;
    position: relative;
}

/*topnav-corporate*/
.topnav-corporate {
    background: #125430;
    border-bottom: 2px solid #126c34;
    height: 30px;
    margin-bottom: 0;
}

.icon_active {
    display: block;
}

.icon_deactive {
    display: none;
}

.corporate-link.is_active {
    color: #fff;
}

.corporate-link .icon_active {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 18px;
    font-size: 12px;
}

.corporate-link {
    display: block;
    position: relative;
    margin: 0 10px;
    color: #a5c84d;
    font-size: 12px;
    height: 100%;
    line-height: 28px;
    border: 1px dotted transparent;
}

.corporate-link:focus, .corporate-link:active {
    border: 1px dotted #a5c84d;
}

.corporate-link .coach-mark {
    position: absolute;
    top: 33px;
    left: 28px;
    z-index: 830;
}

.coach-mark_content {
    height: 18px;
    background-color: #e6007e;
    padding: 3px 8px 4px 8px;
    margin-top: -6px;
    margin-left: -25px;
    font-size: 10px;
    font-weight: bold;
    font-family: "Fresh Sans Medium",Helvetica,Arial,sans-serif;
    line-height: 12px;
    white-space: nowrap;
    display: block;
    text-transform: none;
    text-align: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    text-align: center;
    border-radius: 4px;
}

.coach-mark_arrow {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #e6007e;
    border-left: 4px solid transparent;
    position: relative;
    width: 0;
    height: 0;
    content: "";
    margin-top: -26px;
    transform: rotate(90deg);
    margin-left: -11px;
}

/*tr header*/
.tr-header {
    top: 0;
    left: 0;
    right: 0;
    background-color: #125430;
    z-index: 820;
}

.tr-header_content {
    height: 70px;
}

.tr-header__logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 8px 0 4px;
    padding-left: 2px;
    width: 42px;
    height: 36px;
    overflow: hidden;
    position: relative;
    border: 1px solid transparent;
}

.tr-header__logo:focus, .tr-header__logo:active {
    border: 1px dotted #a5c84d;
}

.tr-logo_img {
    height: 100%;
}

.tr-navigation {
    margin: 0 10px;
}

.tr-separator {
    width: 2px;
    margin: 12px 0;
    margin-right: 5px;
    border-left: 2px dotted #126c34;
    flex: 0 0 auto;
    align-self: stretch;
}

.navigation-link {
    font-family: "Fresh Sans Medium",Helvetica,Arial,sans-serif;
    white-space: nowrap;
    display: block;
    line-height: 70px;
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
    font-weight: 600;
    border: 1px dotted transparent;
}

.navigation-link:hover {
    background-color: #0d3e23;
    text-decoration: none;
}

.navigation-link:focus, .navigation-link:active {
    border: 1px dotted #fff;
}

.tr-creator-profile {
    display: flex;
    flex: 0 0 auto auto;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
    text-align: center;
    color: #fff;
    background: #125430;
    cursor: pointer;
    height: 70px;
    width: 88px;
}

.tr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    white-space: pre;
}

.coreHeader-profile-text {
    font-size: 14px;
    font-family: "Fresh Sans Medium",Helvetica,Arial,sans-serif;
}

.user-icon {
    margin-top: 6px;
}

.tr-desktop-login {
    height: 40px;
    font-size: 14px;
    font-style: normal;
    font-family: "Fresh Sans Medium",Helvetica,Arial,sans-serif;
    line-height: 15px;
    margin-right: 10px;
}

.login-profile-content {
    padding-top: 10px;
}

.login-text {
    font-size: 14px;
    font-family: "Fresh Sans Medium",Helvetica,Arial,sans-serif;
}

.login-icon {
    padding-left: 6px;
}

/*search*/
.search {
    margin: 0 11px 0 5px;
    z-index: 500;
    position: relative;
    flex: 1;
}

.header_search {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.search-wrapper {
    flex: 1;
}

.autocomplete {
    width: 100%;
}

.autocomplete-searchBar {
    position: relative;
}

.search-input {
    border-radius: 20px;
    border: none;
    padding: 0 40px 0 16px;
    background: #fff;
    width: 100%;
    height: 40px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
    font-size: 16px;
    font-family: Helvetica,Arial,sans-serif;
    padding: 0 10px;
    outline-offset: -2px;
    font-weight: 400;
    line-height: 1.15;
    margin: 0
}

.autocomplete-actionButtonWrapper {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    height: 44px;
    align-items: center;
}

.searchbtn {
    background-color: #178841;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin: 4px 4px 8px 0;
    border: none;
    background: none;
    font-size: 16px;
    color: #616c71;
    cursor: pointer;
    padding: 0;
}

.input-times {
    height: 44px;
    width: 44px;
    border: none;
    background: none;
    font-size: 16px;
    color: #616c71;
    cursor: pointer;
    padding: 0;
    margin-bottom: 5px;
    display: none;
}

.input-times:hover {
    color: red;
}

/*autocomplete-dropdownWrapper headerSearch-dropdownWrapper*/
.autocomplete-dropdownWrapper {
    width: 100%;
    z-index: 100;
    position: relative;
}

.autocomplete-dropdown {
    list-style: none;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
    overflow-y: auto;
    border-radius: 4px;
}

.autocomplete-item {
    -webkit-appearance: none;
    cursor: pointer;
    padding: 0 10px;
    line-height: 48px;
    height: 48px;
    min-height: 48px;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    color: #178841;
    background: #fff;
    transition: background .05s linear;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
    min-width: 1px;
    width: 100%;
    display: flex;
}

.autocomplete-item:hover {
    background-color: #178841;
    color: #fff;
}

.autocomplete-item:focus, .autocomplete-item:active {
    border-bottom: 1px dotted black;
}

.headerSearch-autocompleteItem-text {
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
}

.autocomplete-active {
    background-color: #178841;
    color: #fff;
}
/*cart*/
.coreHeader-checkout {
    flex: 0 0 auto;
}

.headerCheckout-orderHeader {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    width: 210px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
    border: 2px solid #fff;
    border-radius: 20px;
    outline-color: #fff;
    background-color: #fff;
    font-size: 11px;
    line-height: normal;
    color: #3a474e;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    white-space: pre;
}

.headerCheckout-viewCartLeft {
    background: transparent;
    border: none;
    height: 40px;
    min-width: 49px;
}

.cart-icon {
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    color: #3a474e;
}

.quantity-pill {
    width: 22px;
    position: absolute;
    transform: translate(60%,-170%);
}

.quantity-pill-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #d41920;
    border-radius: 18px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 16px;
    max-width: 22px;
    height: 16px;
    overflow: hidden;
    padding: 0;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgb(58 71 78 / 20%);
}

.quantity-pill-digits {
    display: flex;
    flex-flow: row nowrap;
}

.quantity-pill-foreground {
    box-sizing: border-box;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    flex: none;
}

.quantity-pill-digitsContainer {
    display: flex;
    justify-content: center;
    min-width: 12px;
}

.pill-text {
    display: inline-block;
    color: #fff;
    font-size: 10px;
    line-height: 16px;
    min-width: 4px;
    height: 16px;
    margin-right: 0;
    margin-left: 0;
}

.headerCheckout-viewCartRight {
    width: 100%;
    font-family: Helvetica,Arial,sans-serif;
}

.headerCheckout-viewCartRightAlign {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
}

.headerCheckout-checkout {
    height: 34px;
    line-height: 30px;
    margin: 0 1px;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 17px;
    width: 92px;
}

.headerCheckout-orderTotal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headerCheckout-orderAmount {
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.cart-drawer {
    box-shadow: 0 0 50px rgb(0 0 0 / 15%);
    transform: none;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    height: unset;
    background-color: #eee;
    transition: transform .2s ease;
    width: 424px;
    z-index: 900;
    /*position: relative;*/
    transform: translateX(424px);
    /*transform: none;*/
}

.cart-drawer.is_open {
    box-shadow: 0 0 50px rgb(0 0 0 / 15%);
    transform: none;
}

.cart-drawer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.panel-heading {
    border-bottom: 2px dotted #3a474e;
    box-shadow: 0 2px 4px rgb(58 71 78 / 15%), 0 1px 2px rgb(58 71 78 / 15%);
    z-index: 1;
}

.panel-heading .heading-container {
    align-items: stretch;
    background-color: #fff;
    display: flex;
    max-height: 72px;
}

.close-button {
    align-items: center;
    border: none;
    border-radius: 0;
    display: flex;
    height: auto;
    flex-direction: column;
    padding: 12px 16px;
    line-height: 26px;
    border: .5px dotted transparent;
}

.close-icon {
    font-size: 20px;
    margin-top: 2px; 
}

.close-button:focus, .close-button:active {
    border: .5px dotted red;
}

.heading-divider {
    background-color: #d1d1d1;
    margin: 12px 0;
    width: 1px;
}

.heading-container-right-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
}

.heading-title {
    font-size: 24px;
    line-height: 28px;
}

.is-disabled {
    background-color: #a2cfb3;
    border-color: #a2cfb3;
    color: #fff;
    pointer-events: none;
}

.cart-right-icon {
    font-size: 10px;
    margin-left: 8px;
}

.scroll-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 16px;
    margin-right: 16px;
}

.empty-cart-image {
    margin-left: -16px;
    width: 150px;
}

.empty-cart-title {
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin: 32px 16px 8px;
    line-height: 24px;
    font-weight: 600;
}

.empty-cart-message {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 8px 16px 24px;
    line-height: 24px;
}

.btnContinueShopping {
    width: auto;
}

.mobile-full-width {
    background-color: #125430;
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;
    min-width: 104px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    font-size: 14px;
    transition: background-color .15s,color .15s;
    line-height: 16px;
}

.cart-bottom {
    display: block;
    background-color: #fff;
}

.cart-checkout {
    display: flex;
    position: relative;
    flex-direction: column;
    box-shadow: 0 -2px 4px 0 rgb(58 71 78 / 15%), 0 0 4px 0 rgb(0 0 0 / 10%);
    min-height: 74px;
    justify-content: center;
}

.cart-checkout-content {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}

.cart-checkout-total {
    display: flex;
    flex-direction: column;
}

.cart-checkout-total__heading {
    font-size: 12px;
    color: #39464e;
}

.cart-checkout-total__currency {
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #3a474e;
    font-weight: 600;
}

.cart-checkout-total__hint {
    font-size: 10px;
    color: #3a474e;
}

.cart-checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xicon {
    font-size: 10px;
    margin-left: 8px;
}

.cart-checkout-summary {
    border-bottom: 1px solid #f1f1f1;
}

.cart-checkout-summary__heading {
    width: 100%;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #178841;
    line-height: 24px;
    border-bottom: 1px solid #f1f1f1;
    margin: 0;
}

.linkButton {
    display: inline;
    background: none;
    border: none;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
}

.cart-checkout-summary__content {
    max-height: 0;
    display: block;
    overflow: hidden;
    transition: max-height .15s ease-out;
    visibility: hidden;
}


.cart-checkout-summary__content.is-open {
    max-height: 128px;
    visibility: visible;
}

.cart-checkout-summary__section {
    margin: 16px;
}

.cart-checkout-summary__price {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1;
    color: #39464e;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
}

.cart-checkout-summary__subprice {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1;
    color: #39464e;
    font-family: Helvetica,Arial,sans-serif;
    margin: 4px 0;
}

.cart-checkout-summary__link {
    font-size: 12px;
    color: #25861e;
    text-decoration: underline;
}

/*categories*/
.cat {
    width: 100%;
    position: relative;
    background-color: #178841;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    will-change: transform;
    display: flex;
    flex-direction: column;
}

.cat-content {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    width: 100%;
}

.cat-content::-webkit-scrollbar {
  background: #125430; 
  height: 4px;
}

.cat-content::-webkit-scrollbar-thumb:hover {
  background: red; 
  width: 300px;
}

.categoryHeader-navigationLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;
    height: 50px;
    padding: 0 15px;
    line-height: 1.2;
    border: .5px dotted transparent;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.categoryHeader-navigationLink.is_active {
    background-color: #ffda00;
    color: #3a474e;
}

.categoryHeader-navigationLink:hover {
    background-color: #126c34;
    text-decoration: none;
}

.categoryHeader-navigationLink:first-child:hover {
    color: #fff;
}

.categoryHeader-navigationLink:focus, .categoryHeader-navigationLink:active {
    border: .5px dotted black;
}

.masking {
    position: fixed;
    background-color: #171c1f;
    z-index: 900;
    transition: opacity .15s ease;
    opacity: 0;
}

.masking.is_open {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
}

/*header responsive*/
.responsive-logo {
    display: none;
}

.mobile-separator {
    display: none;
}

.coreHeader-offscreenToggle {
    flex: 0 0 auto;
    height: 70px;
    width: 60px;
    border: none;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    color: #fff;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.coreHeader-offscreenToggle i {
    font-size: 22px;
}

.cartBtn-mobile {
    display: flex;
    background: none;
    width: 72px;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: none;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1;
    padding: 0;
    cursor: pointer;
    color: #fff;
    outline-color: #fff;
}

.cartBtn-mobile i {
    font-size: 20px;
    padding-bottom: 5px;
    position: relative;
}

.cartBtn-mobile span {
    color: #fff;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.responsive-searchbtn  {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: #fff;
    color: #178841;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.responsive-searchbtn.is_open {
    background-color: #092e1a;
    color: #fff;
}

.headerSearch-searchWrapper-mobiles {
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    z-index: 800;
    background-color: #fff;
    display: none;
    border-bottom: 1px solid #ddd;
}

.headerSearch-searchWrapper-mobiles.is_open {
    display: block;
}

.headerSearch-searchWrapper-mobiles .autocomplete input {
    height: 56px;
}

.headerSearch-searchWrapper-mobiles .searchbtn {
    height: 45px;
    width: 45px;
    margin-top: 18px;
}

/*responsive-cat*/
.responsive-cat {
    z-index: 900;
}

.cat-masking-o {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    left: 0;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 800 !important;
    display: none;
}
.cat-masking-o.is_open {
    display: block;
}

.responsive-cat-button {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: none;
    background: #178841;
    color: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.responsive-cat-button h3 {
    font-size: 14px;
    color: #fff;
    display: inline;
    margin-bottom: 0;
}

.responsive-cat-button  i {
    font-size: 22px;
}

.responsive-cat-menu {
    position: absolute;
    width: 320px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - (150px + 80px));
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: auto;!important;
    background: #fff;
    z-index: 900;
    transition: all .2s ease;
    display: none;
}

.responsive-cat-menu.is_open {
    display: block;
}

.responsive-cat-menu .menu-items {
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    z-index: 900;

}

.categoriesNavigation-list {
    margin-bottom: 0;
    transition: all .3s ease;
}

.categoriesNavigation-link {
    border-top: none;
    width: 100%;
    display: flex;
    min-height: 44px;
    font-size: 14px;
    padding: 5px 20px;
    color: #178841;
    align-items: center;
    text-transform: capitalize;
    font-weight: 600;
}

.categoriesNavigation-link:last-child {
    border-bottom: 1px solid #dedfdc;
}

.categoriesNavigation-linkText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoriesNavigation-linkText i {
    font-size: 17px;
    font-weight: bold;
}

.categoriesNavigation-link.is_special {
    background-color: #ffda00!important;
    color: #3a474e;
}

.categoriesNavigation-link:hover {
    background-color: #ddd;
    text-decoration: none;
}

/*sidenav*/
.sidenav-masking {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    left: 0;
    top: 70px;
    width: 100%;
    height: 100vh;
    z-index: 800 !important;
    display: none;
}
.sidenav-masking.is_open {
    display: block;
}

.sidenav {
    position: fixed;
    top: 100px;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 820!important;
    background: #fff;
    display: none;
}

.sidenav.is_open {
    display: block;
}

.smallMenu-panels {
    display: flex;
    transition: transform .15s ease-in-out;
}

.smallMenu-panel1 {
    width: 100%;
    flex-shrink: 0;
}

.smallMenu-login {
    display: flex;
    justify-content: space-around;
    background: #f2f3f0;
    border-bottom: 1px solid #d9d9d9;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
}

.smallMenu-loginLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #178841;
    font-weight: 600;
}

.smallMenu-loginLink:first-child {
    border-right: 1px solid #d9d9d9;
}

.coreHeaderNav--vertical {
    display: flex;
    flex-direction: column;
}

.coreHeaderNav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 45px;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 20px;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    white-space: nowrap;
    color: #178841;
    font-weight: 600;
    text-decoration: unset;
}

.coreHeaderNav-link:hover {
    text-decoration: unset;
}

.smallMenu-services {
    color: #fff;
    background-color: #178841;
    padding: 15px 20px;
    margin-bottom: 0;
    font-size: 17px;
    text-transform: capitalize;
    line-height: 28px;
}

.corporate-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.corporateHeader-links {
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    white-space: nowrap;
    line-height: 45px;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: #178841;
    font-weight: 600;
}

.coach-mark__content {
    background-color: #e6007e;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    white-space: nowrap;
    display: block;
    text-transform: none;
    text-align: unset;
    line-height: 12px;
    margin-left: 15px !important;
    margin-top: 1px !important;
    line-height: 10px !important;
    font-size: 12px !important;
    padding: 8px 8px !important;
    height: 24px !important;
    border-radius: 4px;
    color: #fff;
}

.coach-mark__arrow {
    transform: rotate(90deg);
    position: relative;
    width: 0;
    height: 0;
    content: "";
    margin-left: 7px !important;
    margin-bottom: 7px !important;
    margin-top: -16px !important;
    border-top: 4px solid #e6007e !important;
    border-bottom: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    border-left: 4px solid transparent;
}

.icoricon {
    font-size: 24px;
    color: #3a474e;
    padding-right: 10px;
}

/*delivery*/
.delivery {
    height: 48px;
    box-shadow: 0 1px 0 0 #d1d1d1;
    background-color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -400;
}

.header-fulfilment__container {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-fulfilment__section {
    display: flex;
    flex: 1;
    align-self: stretch;
    padding: 0 12px;
    align-items: center;
    text-align: left;
    line-height: inherit;
    min-width: 0;
    border: none;
    color: #3a474e;
    background-color: #fff;
    cursor: pointer;
}

.header-fulfilment__section-content {
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: center;
    position: relative;
    height: 100%;
}

.header-fulfilment__icon {
    font-size: 24px;
    margin-right: 16px;
    margin-left: 4px;
}

.header-fulfilment__section-message {
    display: flex;
    overflow: hidden;
}

.header-fulfilment__heading {
    font-family: "Fresh Sans Medium",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-right: 4px;
    white-space: nowrap;
}

.header-fulfilment__active-message {
    font-size: 14px;
    color: #178841;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    text-decoration: underline;
    max-width: 90%;
    font-family: Helvetica,Arial,sans-serif;
}

.header-fulfilment__section-arrow {
    align-items: center;
    display: flex;
    color: #178841;
}

.header-fulfilment__section-arrow>span {
    font-weight: 600;
    font-size: 14px;
}

.header-fulfilment__section-arrow>i {
    font-size: 10px;
    margin-left: 8px;
    font-size: 1rem;
    font-weight: 600;
}

.header-fulfilment__divider {
    height: 36px;
    border-right: 1px solid #d1d1d1;
}

@media (max-width: 600px) {
    .responsive-searchbtn {
        display: block;
    }
    .header_search {
        /*display: none;*/
    }
    .tr-creator-profile {
        width: auto;
    }
    .cartBtn-mobile {
        width: auto;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 5px;
    }

    .cart-drawer {
        width: 100%;
        transform: translateX(100%);
    }
    .responsive-cat-menu {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .topnav-corporate {
        display: none;
    }
    .sidenav {
        top: 70px;
    }
    .header-fulfilment__section-arrow {
        display: none;
    }
    .header-fulfilment__section-message {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .input-times, .tr-logo_img, .cat-content, .catalogue-list, .tr-desktop-login, .headerCheckout-orderHeader {
        display: none!important;
    }

    .responsive-logo, .mobile-separator{
        display: block;
    }

    .coreHeader-offscreenToggle {
        display: flex;
    }
    .responsive-cat {
        display: block;
    }

}

@media (min-width: 768px) {
    .search {
        position: relative;
        flex: 1;
    }
    .autocomplete-dropdownWrapper {
        top: 6px;
    }
    .sidenav-masking {
        top: 100px;
    }

}

@media (min-width: 1025px) {
    .tr-header__logo {
        width: 56px;
        height: 50px;
        margin: 0px 8px 0 22px;
    }
    .tr-mobile-login {
        display: none;
    }
    .cartBtn-mobile {
        display: none;
    }
    .sidenav {
        display: none;
    }
    .sidenav-masking {
        display: none;
    }
    .responsive-cat {
        display: none;
    }
}

@media (min-width: 1270px) {
    .tr-header__logo {
        width: 237px;
        margin: 0px 12px;
    }
}

/*footer*/
.footer {
    background-color: #d3d3d3;
}

.footer-back {
    color: #3a474e;
    font-family: "Fresh Sans Medium",Helvetica,Arial,sans-serif;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: silver;
    display: inline-block;
    width: 100%;
}

.footer-back i {
    font-size: 20px;
    font-weight: 600;
}

.footer-socialmedia {
    font-family: "Fresh Sans Medium",Helvetica,Arial,sans-serif;
    height: 50px;
    text-align: center;
    line-height: 1;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socialmediaText {
    margin-right: 30px;
}

.footer-socialmedia a {
    color: #3a474e;
    margin-right: 5px;
}

.footer-socialmedia a i {
    font-size: 25px;
}

.footer-links {
    border-bottom: 1px solid #e9e9e9;
    padding: 20px;
    margin: auto;
}

.footer-colPanel {
    padding: 10px;
    border: none;
}

.footer-heading {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}

.footer-linkItems {
    border: none;
    padding: 0 0 8px 0;
    display: block;
    color: #3a474e;
    white-space: nowrap;
}

.footer-linkContainer {
    margin-top: 1rem;
}

.footer-copyright {
    background: #fff;
    text-align: center;
    font-size: 12px;
    padding: 12px;
}

.footer-copyright a {
    color: #373737;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .footer-heading {
        font-size: 15px;
    }
    .footer-linkItems {
        font-size: 14px;
    }
}