a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

.heading, .heading1, .heading2, .heading3, .heading4, .heading5, .heading6, h1, h2, h3, h4, h5, h6 {
    color: #3a474e;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    font-weight: 400;
}

ul, li {
  list-style: none;
  list-style-type: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  vertical-align: middle;
}

.button {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    height: 44px;
    margin: 0;
    background: transparent;
    border: 2px solid #3a474e;
    border-radius: 28px;
    font-family: Fresh Sans Medium,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #3a474e;
    padding: 0 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button--primary {
    background: #178841;
    border-color: #178841;
    color: #fff;
}

.button--primary:focus, .button--primary:hover {
    background-color: #126c34;
    border-color: #126c34;
    color: #fff;
    text-decoration: none;
}



/*margin, padding, height, width, postion unit*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}


/*flex unit*/
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.items-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.justify-center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.justify-s-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.direction-column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.flex-auto {
  -webkit-flex: 1 1 auto;
  -moz--webkit-flex: 1 1 auto;
  -ms--webkit-flex: 1 1 auto;
  -o--webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
}

/*container unit*/
.container, .container-xl, .container-xll {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container-xl {
    padding-right: 1px;
    padding-left: 1px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
  .container-xll {
    max-width: 1200px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer-col, .item3 {
  dposition: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}



@media only screen and (max-width: 600px) {
  .footer-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .footer-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .item3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .footer-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .item3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .footer-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .item3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333333%;
    flex: 0 0 33.333333333%;
    max-width: 33.333333333%;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .item3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333333%;
    flex: 0 0 33.333333333%;
    max-width: 33.333333333%;
  }

}

/*Grid System*/
.grid {
    display: grid;
    margin: 0!important;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}


@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}